# Module 4 Project
Author: [Matt Riley](https://github.com/rilesKC) Repository: [datafun-04-notebooks](https://github.com/rilesKC/datafun-04-notebooks)

## Task 1 - Create DataFrame

In [1]:
# This cell is python
import pandas as pd

grades_dict = {'Wally': [87, 96, 70], 'Eva': [100, 87, 90],
                'Sam': [94, 77, 90], 'Katie': [100, 81, 82],
                'Bob': [83, 65, 85]}

grades = pd.DataFrame(grades_dict)

grades

   Wally  Eva  Sam  Katie  Bob
0     87  100   94    100   83
1     96   87   77     81   65
2     70   90   90     82   85

## Task 2 - Custom Index

In [2]:
grades.index = ['Test1', 'Test2', 'Test3']

grades

       Wally  Eva  Sam  Katie  Bob
Test1     87  100   94    100   83
Test2     96   87   77     81   65
Test3     70   90   90     82   85

In [ ]:
grades['Eva']

In [ ]:
grades.Sam

## Task 3 - Accessing Rows (loc, iloc)

In [ ]:
grades.at['Test2','Eva']

In [ ]:
grades.iat[2,0]

## Task 4 - Describe (By Column)

In [ ]:
grades.describe()

In [ ]:
# pd.set_option('precision', 2) --> this throws an OptionError

In [ ]:
pd.set_option("display.precision",2)

grades.describe()

## Task 5 - Transpose (rows <--> columns)

In [ ]:
grades.mean()

In [ ]:
grades.T

In [ ]:
grades.T.mean()

## Task 6 - Sort

In [ ]:
grades.sort_index(ascending=False)

In [ ]:
grades.sort_index(axis=1)