# Module 4 Project
Author: [Matt Riley](https://github.com/rilesKC) Repository: [datafun-04-notebooks](https://github.com/rilesKC/datafun-04-notebooks)
Date: 9/17/2023

## Optional Task 5

In [8]:
import pandas as pd

contacts = [['Mike Green', 'demo1@deitel.com', '5555555555'],
             ['Sue Brown', 'demo2@deitel.com', '5555551234']]

contactsdf = pd.DataFrame(contacts,
                          columns=['Name', 'Email', 'Phone'])

contactsdf

         Name             Email       Phone
0  Mike Green  demo1@deitel.com  5555555555
1   Sue Brown  demo2@deitel.com  5555551234

In [9]:
import re

def get_formatted_phone(value):
    result = re.fullmatch(r'(\d{3})(\d{3})(\d{4})', value)
    return '-'.join(result.groups()) if result else value

In [10]:
formatted_phone = contactsdf['Phone'].map(get_formatted_phone)

formatted_phone

0    555-555-5555
1    555-555-1234
Name: Phone, dtype: object